main {
  background-color: rgb(70, 69, 69);
}
body {
  background-color: rgb(70, 69, 69);
}
.start-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-size: 2em;
}
.player {
  display: flex;
  flex-direction: row;
}
